@page "/"
@using AutoPartsShop.Domain.Common
@using AutoPartsShop.Domain.Dtos
@using System.Text.Json
@inject HttpClient Http


<h3>Categories</h3>
@if (products == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<ul>
		@foreach (var category in categories)
		{
			<li>@category.Name</li>
		}
	</ul>
}

所有商品
<h3>Products</h3>
@if (products == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<ul>
		@foreach (var product in products.Items)
		{
			<li>@product.Name - @product.Price</li>
		}
	</ul>
}




@code {
	private List<CategoryDto> categories;
	private PagedList<ProductDto> products;

	protected override async Task OnInitializedAsync()
	{

		try
		{

			categories = await Http.GetFromJsonAsync<List<CategoryDto>>("/category");
			//var aa = await Http.GetFromJsonAsync<PagedList<ProductDto>>("/product");
			var response = await Http.GetAsync("/product");

			if (response.IsSuccessStatusCode)
			{
				var content = await response.Content.ReadAsStringAsync();
				Console.WriteLine(content); // 查看实际返回的内容

				// 如果确认是JSON，再反序列化
				products = JsonSerializer.Deserialize<PagedList<ProductDto>>(content);
			}
			else
			{
				// 处理错误响应
				Console.WriteLine($"HTTP Error: {response.StatusCode}");
			}
		}
		catch (Exception ex)
		{

			throw;
		}

	}
}