@page "/login"

@using AutoPartsShop.Domain.Dtos
@using AutoPartsShop.Services
@inject IMessageService _message
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>登录 - 汽修配件商城</PageTitle>
<AntDesign.Form Model="@_loginData" Style="height:100%"
OnFinish="OnFinish"
LabelColSpan="4"
WrapperColSpan="4">
	<FormItem WrapperColOffset="10" WrapperColSpan="4">
		<AntDesign.Input Placeholder="请输入账号" AllowClear="true" @bind-Value="@context.Email">
			<Prefix>
				<Icon Type="user"></Icon>
			</Prefix>
		</AntDesign.Input>
	</FormItem>
	<FormItem WrapperColOffset="10" WrapperColSpan="4">
		<InputPassword Placeholder="请输入密码" @bind-Value="@context.Password">
			<Prefix>
				<Icon Type="lock"></Icon>
			</Prefix>
		</InputPassword>
	</FormItem>
	<FormItem WrapperColOffset="11" WrapperColSpan="2">
		<Button Type="@ButtonType.Primary" HtmlType="submit" Block>
			登录
		</Button>
	</FormItem>
</AntDesign.Form>
@code
{
	#if NET8_0_OR_GREATER
    [SupplyParameterFromForm(FormName = "form1")]
#endif
	public LoginRequest _loginData { get; set; } = new();
	private ApiResponse<LoginResponse> loginResponse = new();


	private async Task OnFinish(EditContext editContext)
	{
		loginResponse = await AuthService.LoginAsync(_loginData);
		if (loginResponse.IsSuccess)
		{
			NavigationManager.NavigateTo("/");
		}
		else
		{
		//显示错误信息
			_message.Error(loginResponse.ErrorMessage);		
		}
	}

}