@inherits LayoutComponentBase

<Layout Style="padding:0;margin:0">
    <Header Style="height:10%">
        <div style="margin:10px;">
            <AntDesign.Row Justify="RowJustify.SpaceAround" Align="RowAlign.Middle">
                <AntDesign.Col Span="8">
                    <img src="/imgs/logo.png" style="align-self:center" />
                </AntDesign.Col>
                <AntDesign.Col Span="8" Offset="8" Style="text-align:center">
                    <span style="color:white; font-size:24px">欢迎使用 @ProductionName 后台管理系统</span>
                </AntDesign.Col>
            </AntDesign.Row>
        </div>
    </Header>
    <Content Style="background-color:white; min-height:500px">
        <AntDesign.Row>
            <AntDesign.Col Span="20" Offset="2">
                <div style="margin:100px 0">
                    @Body
                </div>
            </AntDesign.Col>
        </AntDesign.Row>
    </Content>
    <MyFooter />
</Layout>

@code {
    private const string ProductionName = "Demo";
}